@use "../../app/_breakpoints.scss";

.cardWrapper {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #b884b7, #945a9a);

  height: 30rem;
  width: 17rem;
  padding: 1rem;
  gap: 1.5rem;

  color: var(--primary-text-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.number {
  font-weight: 700;
  font-size: 3rem;
}

.title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.87rem;
}

.text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8rem;
  word-wrap: break-word;
  text-align: left;
}

@include breakpoints.media("<tablet") {
  .cardWrapper {
    width: min(20.5rem, 100%);
    height: 22.5rem;
    gap: 1rem;
  }
}
