@use "../../app/breakpoints";

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-heading);
}

header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 138px;
  
  @include breakpoints.media("<1024px") {
    padding: 0 40px;
  }

  @include breakpoints.media("<tablet") {
    padding: 0 24px;
  }

  @include breakpoints.media("<mobile") {
    padding: 0 16px;
  }
  height: 88px;
  background-color: var(--primary-neutral-color);
  border-bottom: 1px solid var(--header-border-color);

  .logo-desktop {
    display: block;
    
    img {
      image-rendering: -webkit-optimize-contrast;
      image-rendering: crisp-edges;
      backface-visibility: hidden;
      transform: translateZ(0);
    }
  }

  .logo-mobile {
    display: none;
    
    img {
      image-rendering: -webkit-optimize-contrast;
      image-rendering: crisp-edges;
      backface-visibility: hidden;
      transform: translateZ(0);
      max-width: 100%;
      height: auto;
    }
  }

  .navigation {
    display: none; // Escondido por padrão (mobile)
    
    @include breakpoints.media(">=1024px") {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
    }

    .desktop-nav {
      display: flex;
      flex-direction: row;
      height: 100%;
    }

    .main-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 16px;
      height: 100%;

      .search {
        display: flex;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;
      }

      .donate {
        color: #ffffff;
        background-color: #945a9a;
        padding: 0 32px;
        margin: 0 0 0 32px;
        height: 100%;
        font-size: 16px;
        align-content: center;
        border-radius: 0;
      }
    }
  }
}

.header-mobile {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 0;
  gap: 12px;

  @include breakpoints.media(">=1024px") {
    display: none; // Escondido no desktop
  }

  .donate {
    flex-shrink: 0;
  }

  svg {
    cursor: pointer;
    flex-shrink: 0;
  }
}

@include breakpoints.media("<1024px") {
  header {
    height: 72px;

    .logo-desktop {
      display: none;
    }

    .logo-mobile {
      display: block;
      max-width: 100%;
    }
  }
}

.menu-button {
  z-index: 9999;
}
