@use "../../app/_breakpoints.scss";

.doadoresBottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-bottom: 50px;
    margin: 7.5rem 0;
}

.doadoresHeader {
  h1 {
    font-size: 36px;
    line-height: 42px;
    color: var(--primary-color);
    max-width: 525px;
    text-align: center;
  }

  .headerMobile {
    display: block;
  }
  
  .headerDesktop {
    display: none;
  }

  @include breakpoints.media(">tablet") {
    .headerMobile {
      display: none;
    }
    
    .headerDesktop {
      display: block;
    }
  }
}

.partLogos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 59.12px;
}

@include breakpoints.media("<tablet") {
  .partLogos {
    flex-direction: column;
  }
}

@include breakpoints.media(">tablet" and "<desktop") {
  .partLogos {
    gap: 10px !important;
  }
}

@include breakpoints.media("<tablet") {
  .doadoresHeader {
    h1 {
      font-size: 28px;
      line-height: 32px;
      max-width: 300px;
    }
  }
}