@use "../../../breakpoints";

.pageWrapper {
  display: flex;
  flex-direction: column;

  .banner {
    background-color: black;
  }

  .divider {
    height: 1px;
    width: 100%;
    background-color: var(--primary-neutral-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .pageDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0 64px;
    gap: 40px;

    p {
      font-size: 18px;
      line-height: 32px;
      max-width: 760px;
      text-align: center;
    }
  }

  .acolhimento {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--primary-neutral-color);
    padding: 100px 0;

    .acolhimentoImageContainer {
      position: absolute;
      top: 0;
      left: 0;
      background-color: black;
      width: 100%;
      max-height: 470px;
      display: flex;
      align-items: center;
      justify-content: center;

      .acolhimentoImage {
        max-height: 470px;
        width: 100%;
        object-fit: cover;
        object-position: bottom;
        opacity: 0.7;
      }
    }

    .acolhimentoContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 1;
      gap: 72px;
      padding: 0 40px; // Reduzindo o padding para dar mais espaço ao título na desktop
      
      @include breakpoints.media("<desktop") {
        padding: 0 40px;
      }
      
      @include breakpoints.media("<tablet") {
        padding: 0 24px;
      }
      
      @include breakpoints.media("<mobile") {
        padding: 0 16px;
      }
      max-width: 851px;

      h1 {
        font-size: 3rem; //mesmo tamanho da font do banner
        white-space: nowrap; // Impede a quebra de linha
        text-align: center;
        
        @include breakpoints.media("<tablet") {
          white-space: normal; // Permite quebra de linha no mobile se for muito longo
        }
      }

      .steps {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;

        .stepElement {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 32px;
          background-color: var(--primary-neutral-color);
          padding: 24px;
          border-radius: 16px;
          width: 100%;
          box-sizing: border-box;

          .elementNumber {
            font-size: 48px;
            color: var(--ternary-color);
          }

          .elementTitle {
            font-size: 24px;
            line-height: 30px;
            color: var(--primary-color);
            width: 188px;
          }

          .elementDesc {
            font-size: 16px;
            line-height: 24px;
            color: var(--secondary-neutral-color);
            width: 500px;
          }
        }

        .stepsFooter {
          border: solid 1px var(--primary-neutral-color);
          border-radius: 16px;
          width: 100%;
          padding: 24px 24px;
          box-sizing: border-box;

          p {
            padding: 0 36px;
            line-height: 24px;
            text-align: center;
          }
        }
      }
    }

    .acolhimentoRequest {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 24px;
      gap: 24px;

      h1 {
        font-size: 36px;
        white-space: nowrap;
        text-align: center;
        
        @include breakpoints.media("<tablet") {
          white-space: normal;
        }
      }

      .requestButton {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-left: 32px;
        padding-right: 24px;
        gap: 12px;
        background-color: var(--ternary-color);
      }

      .requestContent {
        display: flex;
        flex-direction: column;
        align-items: center; // Centralizar o flex container
        font-size: 18px;
        line-height: 32px;
        gap: 32px;
        margin-top: 32px;
        max-width: 760px;
        text-align: center; // Centralizar os textos internamente
      }
    }

    .acolhimentoGuide {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      margin-top: 62px;
      background-color: var(--secondary-neutral-color);

      .guideImage {
        width: 50vw;
        height: auto;
        flex-grow: 1;
        object-fit: cover;
      }

      .guideContainer {
        width: 50vw;
        height: auto;
        padding: 64px 0 112px 0;

        .containerContent {
          padding: 0 135px 0 40px;
          
          @include breakpoints.media("<desktop") {
            padding: 0 40px;
          }
          
          @include breakpoints.media("<tablet") {
            padding: 0 24px;
          }
          
          @include breakpoints.media("<mobile") {
            padding: 0 16px;
          }
          display: flex;
          flex-direction: column;
          align-items: center; // Centralizar os itens do container flexível
          justify-content: center;
          gap: 40px;

          h1 {
            font-size: 36px;
            line-height: 42px;
            white-space: nowrap;
            text-align: center;
            
            @include breakpoints.media("<tablet") {
              white-space: normal;
            }
          }

          p {
            font-size: 16px;
            line-height: 24px;
            text-align: center;
          }

          .contentP {
            display: flex;
            flex-direction: column;
            align-items: center; // Centralizar
            justify-content: center;
            gap: 40px;
          }

          .lastP {
            .pLink {
              text-decoration: none;
              color: #f3bff2;
            }
          }
        }
      }
    }

    .acolhimentoDepoimentos {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 100px 0 0;
      gap: 40px;

      .depoimentosHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;

        div {
          font-size: 16px;
          color: var(--ternary-color);
          font-weight: var(--font-weight-bold);
          letter-spacing: 0.3em;
        }

        h1 {
          font-size: 36px;
          text-align: center;
          white-space: nowrap;

          @include breakpoints.media("<tablet") {
            white-space: normal;
          }
        }
      }

      .depoimentosGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        padding: 0 135px;
        
        @include breakpoints.media("<desktop") {
          padding: 0 40px;
        }
        
        @include breakpoints.media("<tablet") {
          padding: 0 24px;
        }
        
        @include breakpoints.media("<mobile") {
          padding: 0 16px;
        }
        // width: 100%;

        :nth-child(1) {
          grid-row: 1;
          grid-column: 1 / span 2;
        }

        :nth-child(2) {
          grid-row: 1;
          grid-column: 3;
        }

        :nth-child(3) {
          grid-row: 2;
          grid-column: 1;
        }

        :nth-child(4) {
          grid-row: 2;
          grid-column: 2 / span 3;
        }

        .gridElement {
          display: flex;
          flex-direction: column;
          align-items: center; // Centralizar os textos / citação
          text-align: center;
          padding: 32px 24px;
          gap: 24px;
          border-radius: 16px;
          border: 1px solid #d0d0d0;
          background-color: #f9f9f9;
          color: var(--secondary-neutral-color);
          width: 100%;
          box-sizing: border-box;

          p {
            max-width: none;
          }
        }
      }

      p {
        max-width: 760px;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
      }
    }
  }

  .professionals {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 100px 0;
    gap: 40px;
    background-color: var(--primary-neutral-color);
    color: var(--secondary-neutral-color);

    .professionalsHeader {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;

      div {
        font-size: 16px;
        color: var(--secondary-neutral-color);
        font-weight: var(--font-weight-bold);
        letter-spacing: 0.3em;
      }

      h1 {
        font-size: 36px;
        color: var(--primary-color);
        text-align: center;
        white-space: nowrap;

        @include breakpoints.media("<tablet") {
          white-space: normal;
        }
      }
    }

    .professionalsHeaderContent {
      display: flex;
      flex-direction: column;
      align-items: center; // Centralizar
      text-align: center;
      justify-content: center;
      gap: 32px;
      font-size: 18px;
      line-height: 32px;
      max-width: 760px;
      margin-bottom: 32px;
    }

    .professionalsCards {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 135px;
      
      @include breakpoints.media("<desktop") {
        padding: 0 40px;
      }
      
      @include breakpoints.media("<tablet") {
        padding: 0 24px;
      }
      
      @include breakpoints.media("<mobile") {
        padding: 0 16px;
      }
      gap: 40px;

      .profCard {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 32px 40px;
        gap: 40px;
        border: 1px solid #d0d0d0;
        border-radius: 16px;

        .profInfo {
          display: flex;
          flex-direction: column;
          align-items: center; // Centralizar
          justify-content: center;
          gap: 32px;
          min-width: 320px;

          .profPic {
            border-radius: 100%;
            object-fit: cover;
            object-position: center;
          }

          .infoCredentials {
            display: flex;
            flex-direction: column;
            align-items: center; // Centralizar
            justify-content: center;
            gap: 8px;
            text-align: center;

            h2 {
              font-size: 32px;
            }

            p {
              font-size: 14px;
              font-weight: var(--font-weight-bold);
            }
          }
        }

        .profDesc {
          display: flex;
          flex-direction: column;
          align-items: center; // Centralizar
          justify-content: center;
          gap: 32px;

          p {
            font-size: 18px;
            line-height: 32px;
            text-align: center;
          }
        }
      }
    }
  }

  .impact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 56px;
    background-color: var(--secondary-neutral-color);
    width: 100%;
    padding: 100px 0;
    color: var(--primary-neutral-color);

    .impactHeader {
      max-width: 100%; // Remover a restrição de largura para manter numa linha 
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;

      div {
        font-size: 16px;
        color: var(--ternary-color);
        font-weight: var(--font-weight-bold);
        letter-spacing: 0.3em;
      }

      h1 {
        font-size: 36px;
        color: var(--primary-neutral-color);
        text-align: center;
        white-space: nowrap;

        @include breakpoints.media("<tablet") {
          white-space: normal;
        }
      }
    }

    .impactContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 32px;

      p {
        font-size: 18px;
        line-height: 32px;
        max-width: 760px;
        text-align: center;
      }
    }
  }
}
