@use "../../app/_breakpoints.scss";

.doadores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 120px 136px;
  gap: 112px;
  
  @include breakpoints.media("<desktop") {
    padding: 80px 40px;
    gap: 80px;
  }
  
  @include breakpoints.media("<tablet") {
    padding: 60px 24px;
    gap: 60px;
  }
  
  @include breakpoints.media("<mobile") {
    padding: 40px 16px;
    gap: 40px;
  }
}

.doadoresBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.doadoresHeader {
  h1 {
    font-size: 36px;
    line-height: 42px;
    color: var(--primary-color);
    max-width: 525px;
    text-align: center;
  }
}

.partLogos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 59.12px;
}

.doadoresTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7.5rem;
  gap: 40px;
}

.doadoresHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;

  div {
    font-size: 16px;
    color: var(--secondary-neutral-color);
    font-weight: var(--font-weight-bold);
    letter-spacing: 0.3em;
  }

  h1 {
    font-size: 36px;
    line-height: 42px;
    color: var(--primary-color);
    max-width: 525px;
    text-align: center;
  }
}

.logosContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.topLogos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 74px;
}

.bottomLogos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.org {
  .orgMobile {
    display: block;
  }
  
  .orgDesktop {
    display: none;
  }

  @include breakpoints.media(">=desktop") {
    .orgMobile {
      display: none;
    }
    
    .orgDesktop {
      display: block;
    }
  }
}

.buttonContainer {
  .buttonMobile {
    display: block;
  }
  
  .buttonDesktop {
    display: none;
  }

  @include breakpoints.media(">tablet") {
    .buttonMobile {
      display: none;
    }
    
    .buttonDesktop {
      display: block;
    }
  }
}

@include breakpoints.media(">tablet" and "<desktop") {
  .topLogos {
    gap: 30px !important;
  }
}

@include breakpoints.media("<tablet") {
  .topLogos {
    flex-direction: column;
  }

  .bottomLogos {
    flex-direction: column;
  }
}